.home{

    background-image: url(../images/sfondo_hippie.jpeg);

}

.description{

    background-image: url(../images/sfondo_hippie.jpeg);

}

.overlay{

    background-color: #fbeacca2;

}