.title {

    background-image: url(../images/Wallpapers.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;

}

.home {

    background-image: url(../images/sfondo_home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;

}

.overlay {

    width: 40%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}


.home-par {

    font-size: 1.5em;
    color: #fbeacc;
    padding: 6%;
    text-align: justify;
    font-family: Funk;
    max-height: 100%;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.399);

}

.home-desc h1 {

    font-family: Funk;
    color: #fbeacc;
    font-size: 2.7em;
    margin-left: 4.5%;
    padding: 1.5%;

}

.right-img {

    width: 50%;
    text-align: center;
    height: auto;
}

.right-img img {

    width: 80%;
    max-height: 100%;
    border-radius: 1.5%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.574);
    transition: 0.2s;

}

.hippie {

    background-image: url(../images/sfondo_hippie.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-around;

}


.hippie-par {

    font-size: 1.5em;
    color: #fbeacc;
    padding: 6%;
    text-align: justify;
    font-family: Funk;
    max-height: 100%;
    text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.574);

}

.hippie-par a {

    color: #fbeacc;

}

.hippie-desc h1 {

    font-family: SuperMagic;
    text-align: right;
    color: #fbeacc;
    font-size: 2.5em;
    margin-right: 4.5%;
    padding: 1.5%;
}

.left-img {

    text-align: center;
    width: 45%;

}

.left-img img {

    width: 80%;
    max-height: 100%;
    border-radius: 1.5%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.574);

}

.punk {

    background-image: url(../images/sfondo_punk.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.punk-par {

    font-size: 1.5em;
    color: #fb8de1;
    padding: 6%;
    text-align: justify;
    font-family: Funk;
    text-shadow: 5px 5px 10px black;

}

.punk-par a {

    color: #fb8de1;

}

.punk-desc h1 {

    color: #fb8de1;
    font-family: Punk;
    font-size: 2.5em;
    margin-left: 4.5%;
    padding: 1.5%;

}

.disco {

    background-image: url(../images/sfondo_disco.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.disco-par {

    font-size: 1.5em;
    color: #00bfff;
    padding: 6%;
    text-align: justify;
    font-family: Funk;
    max-height: 100%;
    text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.574);

}

.disco-par a {

    color: #00bfff;

}

.disco-desc h1 {

    font-family: Alba;
    color: #00bfff;
    text-align: right;
    font-size: 2.5em;
    margin-right: 4.5%;
    padding: 1.5%;

}

@media screen and (max-width: 900px) {

    .overlay{

        height: 110vh;

    }

    .home-par {

        font-size: 1.3em;
        padding: 6%;

    }

    .home-desc h1 {

        font-size: 2em;
        margin-left: 2.5%;

    }

    .right-img {

        width: 55%;

    }

    .right-img img {

        width: 90%;

    }

    .hippie-par {

        font-size: 1.3em;
        padding: 6%;

    }

    .hippie-desc h1 {

        font-size: 2em;
        margin-left: 2.5%;

    }

    .left-img {

        width: 55%;

    }

    .left-img img {

        width: 90%;

    }

    .punk-par {

        font-size: 1.3em;
        padding: 6%;

    }

    .punk-desc h1 {

        font-size: 2em;
        margin-left: 2.5%;

    }

    .disco-par {

        font-size: 1.3em;
        padding: 6%;

    }

    .disco-desc h1 {

        font-size: 2em;
        margin-left: 2.5%;

    }

}

@media screen and (max-width: 768px) {

    .home {

        flex-direction: column;
        justify-content: flex-start;

    }

    .overlay {

        width: 100vw;
        height: 30%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .home-par {

        font-size: 1.3em;
        padding: 4%;

    }

    .home-desc h1 {

        font-size: 2em;
        margin-left: 2.5%;

    }

    .right-img {

        width: 60%;
        margin-top: 10%;

    }

    .right-img img {

        width: 90%;

    }

    .hippie {

        flex-direction: column;
        justify-content: flex-start;

    }

    .hippie-par {

        font-size: 1.3em;
        padding: 4%;

    }

    .hippie-desc h1 {

        font-size: 2em;
        margin-right: 2.5%;

    }

    .left-img {

        width: 60%;
        margin-bottom: 10%;

    }

    .left-img img {

        width: 90%;

    }

    .punk {

        flex-direction: column;
        justify-content: flex-start;

    }

    .punk-par {

        font-size: 1.3em;
        padding: 4%;

    }

    .punk-desc h1 {

        font-size: 2em;
        margin-left: 2.5%;

    }

    .disco {

        flex-direction: column;
        justify-content: flex-start;

    }

    .disco-par {

        font-size: 1.3em;
        padding: 4%;

    }

    .disco-desc h1 {

        font-size: 2em;
        margin-right: 2.5%;

    }

}

@media screen and (max-width: 490px) {

    .home-desc h1 {

        font-size: 1.5em;

    }

    .home-par {

        font-size: 1.15em;

    }

    .right-img {

        width: 80%;

    }

    .hippie-desc h1 {

        font-size: 1.5em;

    }

    .hippie-par {

        font-size: 1.15em;

    }

    .left-img {

        width: 80%;

    }

    .punk-desc h1 {

        font-size: 1.5em;

    }

    .punk-par {

        font-size: 1.15em;

    }

    .disco-desc h1 {

        font-size: 1.5em;

    }

    .disco-par {

        font-size: 1.1em;

    }

}